/* .form{
    height: 60vh;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 150px;
    background-color: rgb(120, 127, 128);
    margin-left: 100px;
    width: 600px;

}
input{
    width: 200px;
    margin: 10px;
}
p{
    font-size: 20px;
    color: blue;
   margin-left: -140px;
}

button{
    background-color: blue;
    padding: 10px;
}
h3{
    color: rgb(5, 42, 63);
} */
